@import "../../variables";

.muteBtn {
  position: fixed;
  color: white;
  cursor: pointer;
  right: 30px;
  width: 100px;
  top: 20px;
  font-size: 20px;
  text-align: right;
}

.muted {
  opacity: 0.5;
}
