@import "../../variables";

.muteBtn {
  position: fixed;
  color: white;
  cursor: pointer;
  right: 30px;

  top: 20px;
  font-size: 1rem;
  text-align: right;
  opacity: 0.5;
  background: #171823;
  padding: 10px;
}

.muted {
  opacity: 1;
}
