@import "../../variables";

.subtitles {
  width: 50%;
  text-align: center;
  top: 60px;
  color: aliceblue;
  position: absolute;
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  background: black;
  padding: 20px;
  cursor: pointer;
}

.text {
  color: white;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
