@import "../../variables";

.game {
  width: $gameWidth;
  height: $gameHeight;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .game {
    transform: scale(0.8);
  }
}

.house {
  position: absolute;
}

.roomDummie {
  display: block;
  background-color: #293036;
  position: absolute;
  opacity: 0;
}

.bg {
  width: $gameWidth;
  position: absolute;
  filter: blur(2px);
}

.zoom {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: white;
  mask-image: url(./zoom-in.svg);
  mask-repeat: no-repeat;
  mask-size: contain;

  &.out {
    mask-image: url(./zoom-out.svg);
  }
}
