@import "../../variables";

.game {
  width: $gameWidth;
  height: $gameHeight;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  &.darker {
    filter: brightness(0.8) saturate(0.8);
  }
  &.darkest {
    filter: brightness(0.6) saturate(0.7);
    animation: glitch 8s infinite;
  }
}

@keyframes glitch {
  0% {
    filter: brightness(0.6) saturate(0.7);
  }
  40% {
    filter: brightness(0.5) saturate(0.6);
  }
  100% {
    filter: brightness(0.6) saturate(0.7);
  }
}

@media only screen and (max-width: 500px) {
  .game {
    transform: scale(0.8);
  }
}

.house {
  position: absolute;
}

.roomDummie {
  display: block;
  background-color: #293036;
  position: absolute;
  opacity: 0;
}

.bg {
  width: $gameWidth;
  position: absolute;
  filter: blur(2px);
}

.express {
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 0.6rem;
  color: #85806f;
  user-select: none;
  cursor: pointer;
}
