@import "../../variables";

.letter {
  width: $gameWidth;
  height: $gameHeight;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding-top: 40px;

  display: flex;
  align-items: center;
  cursor: pointer;
  background: black;
  flex-direction: column;
  border-radius: 10px;
}

.title {
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.subtitle,
.sublink,
.subsubtitle {
  font-size: 15px;
  color: white;
  text-align: center;
  text-style: italic;

  line-height: 2;
  display: inline-block;
  margin: 70px 80px;
  cursor: pointer;
  animation-name: fade;
  animation-duration: 3s;
  opacity: 1;
}
.subsubtitle {
  margin-top: 40px;
}
.sublink {
  margin-top: 30px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitle {
  margin: 150px 80px;
}
.container {
  width: $gameHeight * 0.9;
  height: $gameHeight * 0.9;
  position: relative;
  text-align: left;
  cursor: pointer;

  animation-name: fade2;
  animation-duration: 1.5s;
  opacity: 1;
}

.text {
  font-size: 26px;
  position: absolute;
  width: $gameHeight * 0.5;
  left: 109px;
  top: 130px;
  user-select: none;
  transform: rotate(10deg);
  text-align: left;
  font-family: "Caveat", cursive;
}

.signature {
  text-align: right;
  width: 100%;
  display: inline-block;
  padding-right: 5px;
}

.bg {
  width: $gameHeight * 0.9;
  height: $gameHeight * 0.9;
  background-image: url("./letter.jpg");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
