@import "../../variables";

$height: 36px;
$width: 200px;
$btnHeight: 15px;
$shift: 10px;
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .button {
    transform: scale(1.6);
  }
}
.button {
  position: absolute;
  cursor: pointer;
  background-color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  opacity: 0.5;
  pointer-events: all;
  &:hover {
    opacity: 0.8;
  }

  &:after {
    display: block;
    content: "⇠";
    transition: all 0.2s ease-in-out;
    width: $btnHeight;
    opacity: 1;
    height: $btnHeight;
    font-size: $btnHeight;
    color: white;
  }

  &.disabled {
    opacity: 0;
  }

  &.up {
    width: $width;
    height: $height;
    top: -$shift;

    &:after {
      transform: rotate(90deg);
    }
  }

  &.right {
    &:after {
      transform: rotate(180deg);
    }

    right: -$shift;
    width: $height;
    height: $width;
    top: $gameHeight / 2 - $width / 2;
  }

  &.down {
    bottom: -$shift;
    width: $width;
    height: $height;

    &:after {
      transform: rotate(-90deg);
    }
  }

  &.left {
    width: $height;
    height: $width;
    top: $gameHeight / 2 - $width / 2;
    left: -$shift;
  }
}
